* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0 !important;
}

.clear {
	clear: both;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

hr.verde {
	width: 80px;
	border-top: 4px solid #5DA099;
	margin: 0;
}

hr.cinza {
	width: 80px;
	border-top: 4px solid #999;
	margin: 0;
	margin-top: 23px;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #444;
}

h1 {
	color: #1475ab;
	font-size: 32px;
	line-height: 32px;
	text-decoration: none;
	margin: 0px;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	margin: 15px 0;
}

h3,
h4 {
	font-size: 16px;
	line-height: 16px;
	color: #5da099;
	text-decoration: none;
	margin: 15px 0;
	font-weight: normal;
}

a {
	color: #5DA099;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.tel {
	text-decoration: none;
	color: inherit;
}

p {
	text-align: justify;
	color: #888;
	font-size: 15px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
}

.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-green {
	text-align: center;
	color: #fff;
	background-color: #5da099;
	text-decoration: none;
	font-size: 17px !important;
}

.btn-green:hover {
	text-align: center;
	color: #fff;
	background-color: #5da099;
	border-color: #adadad;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 4px;
}

.intro-img {
	width: 100%;
	height: 200px;
	background: url('../imagens/slider/meio-ambiente.jpg');
}

.intro-img h1 {
	color: #FFF;
	text-align: left;
	font-weight: 300;
	position: relative;
	top: 121px;
	font-size: 20px;
	width: 100%;
}

.intro {
	position: absolute;
	top: 60px;
	z-index: 8;
	text-align: center;
	width: 100%;
}

.intro h1 {
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	/* margin-bottom: 43px; */
	font-weight: 300;
	line-height: 40px;
	font-size: 25px;
}

.intro h1 span {
	font-weight: bold;
	font-size: 30px;
}

.intro hr {
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.intro p {
	color: #FFF;
	text-align: center;
}

header {
	width: 100%;
	text-align: center;
	font-size: 73px;
	height: 75px;
	color: #fff;
	transition: all 0.4s ease;
	padding: 15px 0;
	z-index: 888;
	background: #333;
}

header .logo {
	float: left;
}

header .logo a {
	background: url('../imagens/logo.png') no-repeat;
	display: block;
	width: 215px;
	height: 50px;
	overflow: hidden;
	text-indent: -99999px;
	transition: all 0.4s ease;
}

header .right {
	float: right;
	text-align: right;
	color: #1475ab;
	font-size: 12px;
	margin-top: 15px;
}

header .right strong {
	font-size: 28px;
}

header.fixed {
	font-size: 24px;
	height: 48px;
	background: rgba(255, 255, 255, 1);
	transition: all 0.4s ease;
	padding: 10px 0;
	border-bottom: 1px solid #DDD;
}

header.fixed .logo a {
	background: url('../imagens/logo-2.png') no-repeat;
	display: block;
	width: 129px;
	height: 30px;
	overflow: hidden;
	text-indent: -99999px;
	transition: all 0.4s ease;
	position: relative;
	top: 10px;
}

header.fixed nav {
	position: relative;
	height: 40px;
	font-size: 14px;
	float: right;
	top: 5px;
	transition: all 0.4s ease;
}

header.fixed nav li {
	position: relative;
	float: left;
}

header.fixed nav a {
	display: block;
	color: #444;
	text-decoration: none;
	padding: 10px 10px;
	height: 40px;
	text-align: center;
	transition: all .3s linear;
}

header.fixed nav a:hover,
header.fixed nav li:hover a {
	color: #5DA099;
}

header nav {
	position: relative;
	height: 40px;
	font-size: 14px;
	float: right;
	top: 8px;
	transition: all 0.4s ease;
}

header nav li {
	position: relative;
	float: left;
	margin: 0px 0.5em;
	font-size: 30px;
	font-weight:  bolder;
}

header nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 5px;
	height: 40px;
	text-align: center;
	transition: all .3s linear;
}

header nav a:hover,
header nav li:hover a {
	color: #5DA099;
}

header nav table {
	border-collapse: collapse;
	position: absolute;
	left: 0;
	top: 0;
}

header nav .dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 53px;
	left: 0;
	margin: 0;
	height: auto;
	width: 200px;
	z-index: 3;
	background: #FFF;
	border: 1px solid #CCC;
}

header nav .dropdown:hover .sub-menu {
	display: block;
}

header nav .dropdown:hover .sub-menu li {
	position: relative;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}

header nav .dropdown:hover .sub-menu li a {
	display: block;
	width: 190px;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #444;
	height: 20px;
}

header nav .dropdown:hover .sub-menu li a:hover {
	background: #5DA099;
	color: #FFF;
}

header nav .dropdown .sub-menu-informacoes {
	display: none;
	position: absolute;
	top: 53px;
	left: -700px;
	margin: 0;
	height: auto;
	width: 900px;
	z-index: 3;
	background: #FFF;
	border: 1px solid #CCC;
}

header nav .dropdown:hover .sub-menu-informacoes {
	display: block;
}

header nav .dropdown:hover .sub-menu-informacoes li {
	position: relative;
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
}

header nav .dropdown:hover .sub-menu-informacoes li a {
	display: block;
	width: 290px;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #444;
	height: 20px;
}

header nav .dropdown:hover .sub-menu-informacoes li a:hover {
	background: #5DA099;
	color: #FFF;
}

.wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: left;
}

.content {
	padding: 0;
}

section {
	float: left;
	width: 100%;
	padding: 25px 0;
	min-height: 250px;
}

section.cinza {
	background: #F1F1F1;
}

.container {
	margin-left: -15px;
	margin-right: -15px;
}

article {
	float: left;
	width: 70%;
}

article.full {
	width: 100%;
}

article p {
	margin: 1.5em 0;
}

article strong {
	font-weight: normal;
}

#breadcrumb {
	clear: both;
	display: inline-block;
	width: 100%;
	color: #FFF;
	font-size: 11px;
	text-align: left;
	position: relative;
	top: 129px;
}

#breadcrumb div {
	display: inline;
}

#breadcrumb a {
	color: #FFF;
	text-decoration: none;
}

#breadcrumb a:hover {
	text-decoration: underline;
}

.list {
	margin: 0 0 20px 40px;
}

.list li {
	list-style: disc;
	margin: 6px 0;
	text-align: justify;
	color: #888;
	font-size: 15px;
}

.list li a {
	color: #888;
}

.lista {
	margin: 0 0 20px 40px;
}

.lista li {
	margin: 6px 15px 0 0;
	line-height: 1.5em;
	font-size: 14px;
	display: inline-block;
}

.lista li a {
	color: #888;
	text-decoration: none;
}

.lista li i {
	margin-right: 7px;
}

.lista li:hover i {
	color: #5DA099;
}

.lista li:hover a {
	color: #5DA099;
}

.lista2 {
	margin: 0 0 20px 40px;
}

.lista2 li {
	margin: 6px 15px 0 0;
	line-height: 1.5em;
	font-size: 14px;
}

.lista2 li a {
	color: #888;
	text-decoration: none;
}

.lista2 li i {
	margin-right: 7px;
}

.lista2 li:hover i {
	color: #5DA099;
}

.lista2 li:hover a {
	color: #5DA099;
}

.list-group {
	margin: 0 0 20px 40px;
}

.list-group li {
	float: left;
	width: 33.3%;
	list-style: disc;
	margin: 6px 0;
	text-align: justify;
	color: #888;
	font-size: 15px;
}

.picture-legend {
	background: #eee;
	display: inline-block;
	padding: 3px;
}

.picture-legend strong {
	clear: both;
	display: block;
	text-align: right;
	font-weight: normal;
	padding: 4px;
	font-size: 9px;
}

.picture-legend img {
	margin: 0 auto;
	display: block;
}

.picture-left {
	float: left;
	margin: 45px 10px 0 0;
}

.picture-right {
	float: right;
	margin: 0 0 0 10px;
}

.picture-center {
	margin: 0 auto;
	display: block;
}

.thumbnails {
	display: inline-block;
	list-style: none;
	list-style-type: none;
}

.thumbnails li {
	float: left;
	width: 164px;
	height: 210px;
	margin: 5px 30px;
	text-align: center;
	border: 1px solid #CCC;
}

.thumbnails h2 {
	font-size: 13px;
	background: #002B81;
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}

.thumbnails a {
	text-decoration: none;
	color: #FFF;
}

.thumbnails a:hover {
	text-decoration: underline;
}

.thumbnails-parceiros {
	display: inline-block;
	list-style: none;
	list-style-type: none;
}

.thumbnails-parceiros li {
	float: left;
	width: 160px;
	height: 160px;
	margin: 5px 36px;
	text-align: center;
	border: 1px solid #CCC;
}

.blog-item {
	width: 100% !important;
	margin: 0 0 10px 0 !important;
}

.blog-item h2 {
	text-align: left !important;
	margin: 0 !important;
}

.box {
	width: 100%;
	text-align: center;
	border: 1px solid #DDD;
}

.box h3 {
	font-size: 14px;
	background: #002B81;
	padding: 5px 0;
	margin: 0;
	color: #fff;
	line-height: 22px;
}

.box:hover h3 {
	background: #5DA099;
}

.box h3.line {
	line-height: 44px;
}

.box a {
	color: #FFF !important;
}

.box h2 {
	font-size: 12px;
	background: #002B81;
	padding: 5px;
	margin: 0;
	line-height: 22px;
	font-weight: normal;
}

.box:hover h2 {
	background: #5DA099;
}

.box h2.line {
	/* line-height: 22px; */
	height: 50px;
}

.box h2 a {
	color: #FFF;
}

.box img {
	width: 100%;
}

aside {
	float: right;
	width: 28%;
	margin: 0 0 0 10px;
}

aside h2 {
	margin-bottom: 0;
}

aside h2 a {
	display: block;
	padding: 8px 5px;
	font-size: 20px;
	background: #5DA099;
	color: #FFF;
	text-decoration: none;
}

aside nav {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
}

aside li {
	margin: 0 0 0 0;
}

aside li a {
	display: block;
	padding: 5px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
	font-size: 13px;
}

aside nav li a:hover {
	color: #5DA099;
	background: #eee;
}

aside h3 {
	color: #002B81;
	text-align: center;
}

aside p {
	text-align: center;
	line-height: 1.8em;
	margin: 0;
}

aside strong {
	font-size: 23px;
	color: #002B81;
}

aside .active-menu-aside {
	background: #528D87;
	color: #FFF;
}

.more {
	margin-bottom: 20px;
}

.more h2 strong {
	font-size: 16px;
}

.gallery {
	display: inline-block;
	list-style-type: none;
	list-style: none;
}

.gallery li {
	float: left;
	margin: 0px 8px 0px 0px;
	text-align: center;
}

.gallery li img {
	border: 1px solid #CCC;
	padding: 4px;
}

p.ampliar {
	color: #F30;
	font-size: 11px;
	margin: 5px 0;
}

.alerta {
	font-size: 12px;
}

.compartilhe {
	font-size: 0.75em;
	margin: 0.5em 0;
	display: block;
	font-weight: bold;
}

.social-media {
	display: inline-block;
	padding: 0;
	margin: 5px 0;
}

.social-media li {
	float: left;
	margin-right: 10px;
}

.bt-twitter {
	text-indent: -5000px;
	overflow: hidden;
	display: block;
	width: 55px;
	height: 20px;
	background: url(../imagens/icones/tweet.png) no-repeat 0 0;
}

.bt-twitter:hover {
	background-position: 0px -20px;
}

.related-posting-title {
	font-size: 26px;
}

.related-posting {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.row {
	clear: both;
	display: block;
	background: #F3F3F3;
	border-left: 6px solid #E8E8E8;
	padding: 10px 10px;
	min-height: 85px;
	margin: 0 0 5px 0;
	overflow: hidden;
}

.row:hover {
	border-left: 6px solid #5da099;
}

.row img {
	display: block;
	float: left;
	width: 90px;
	height: 90px;
	margin: 0 10px 0 0;
	border: 0;
}

.row p {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 0;
}

.row a {
	color: #333;
	text-decoration: none;
}

.row p a {
	color: #69747b;
}

.row:hover a {
	color: #5da099;
}

.row strong {
	font-size: 12px;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#servicosTabsDois .list-wrap {
	background: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	font-size: 10px;
}

#servicosTabsDois ul {
	list-style: none;
	display: inline-block;
}

#servicosTabsDois .list-wrap li {
	width: 160px;
	float: left;
	color: #666;
}

#servicosTabsDois .nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#servicosTabsDois .nav li {
	float: left;
	margin: 0 10px 0 0;
}

#servicosTabsDois .nav li.last {
	margin-right: 0;
}

#servicosTabsDois .nav li a {
	display: block;
	text-decoration: none;
	padding: 12px;
	background: #ddd;
	color: #666;
	font-size: 12px;
	text-align: center;
	border: 0;
}

.idiomas{
	float: right;
	margin-top: 4px;
}

#servicosTabsDois .nav li a:hover,
#servicosTabsDois .nav li a:focus {
	background: #999;
	color: #fff;
}

#servicosTabsDois ul li.nav-two a.current {
	background-color: #eee !important;
	color: #666;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#servicosTabs .list-wrap {
	background: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	font-size: 10px;
}

#servicosTabs ul {
	list-style: none;
	display: inline-block;
}

#servicosTabs .list-wrap li {
	width: 160px;
	float: left;
	color: #666;
}

#servicosTabs .nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#servicosTabs .nav li {
	float: left;
	margin: 0 10px 0 0;
}

#servicosTabs .nav li.last {
	margin-right: 0;
}

#servicosTabs .nav li a {
	display: block;
	text-decoration: none;
	padding: 12px;
	background: #ddd;
	color: #666;
	font-size: 12px;
	text-align: center;
	border: 0;
}

#servicosTabs .nav li a:hover,
#servicosTabs .nav li a:focus {
	background: #999;
	color: #fff;
}

#servicosTabs ul li.nav-two a.current {
	background-color: #eee !important;
	color: #666;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#contatoTabs .list-wrap {
	background: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	font-size: 10px;
}

#contatoTabs ul {
	list-style: none;
	display: inline-block;
}

#contatoTabs .list-wrap li {
	width: 160px;
	float: left;
	color: #666;
}

#contatoTabs .nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#contatoTabs .nav li {
	float: left;
	margin: 0 10px 0 0;
}

#contatoTabs .nav li.last {
	margin-right: 0;
}

#contatoTabs .nav li a {
	display: block;
	text-decoration: none;
	padding: 12px;
	background: #ddd;
	color: #666;
	font-size: 12px;
	text-align: center;
	border: 0;
}

#contatoTabs .nav li a:hover,
#contatoTabs .nav li a:focus {
	background: #999;
	color: #fff;
}

#contatoTabs ul li.nav-two a.current {
	background-color: #eee !important;
	color: #666;
}

.copyright {
	font-size: 10px;
	color: #666;
}

.copyright a {
	font-size: 10px;
	color: #666;
}

footer {
	clear: both;
	padding: 15px;
	background: #5DA099;
}

.contact-footer {
	float: left;
	color: #FFF;
	margin-right: 30px;
}

.contact-footer strong {
	font-size: 22px;
	letter-spacing: -1px;
}

footer address {
	margin: 0 0 10px 0;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
}

footer address span {
	margin: 0 0 5px 0;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

footer .menu-footer {
	text-align: right;
}

footer .menu-footer nav {
	margin: 3px 0;
}

footer .menu-footer nav li {
	display: inline;
	padding: 0 10px 0 0;
}

footer .menu-footer nav li a {
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
}

footer .menu-footer nav li a:hover {
	text-decoration: underline;
}

footer .social {
	margin: 20px 0 0 0;
	float: right;
}

footer .social .social-icons:hover {
	opacity: 1;
	background: #FFF;
	color: #002B81;
}

footer .social .social-icons {
	width: auto;
	opacity: 0.8;
	transition-property: all;
	transition-duration: 0.3s;
	min-width: 25px;
	min-height: 20px;
	padding: 7px;
	text-align: center;
	border-radius: 50px;
	display: block;
	margin: 0 0 0 5px;
	float: right;
	font-size: 18px;
	background: #FFF;
	color: #528D87;
}

.copyright-footer {
	text-align: left;
	font-size: 10px;
	line-height: 17px;
	color: #FFF;
	background: #528D87;
	padding: 7px 0;
}

.copyright-footer .selos {
	float: right;
}

.copyright-footer .selos strong {
	background: #B7B7B7;
	color: #FFF;
	padding: 0px 5px;
}

.copyright-footer .selos a {
	margin: 0 0 0 5px;
	color: #FFF;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.3s;
	opacity: 1;
}

.copyright-footer .selos a:hover {
	opacity: 0.3;
}

.contact {
	display: block;
	padding: 0 20px;
}

.form {
	float: left;
}

.form label {
	width: 185px;
	font-weight: bold;
	padding-right: 5px;
	font-size: 13px;
	display: table-cell;
	vertical-align: middle;
}

.form label span {
	font-size: 9px;
	color: #C00;
}

.form .g-recaptcha {
	margin: 10px 0 0 0;
}

.form input,
.form textarea,
.form select {
	width: 80%;
	margin: 10px 0 4px 0;
	padding: 8px 5px;
	border: solid 1px #CFCFCF;
	font-size: 16px;
	color: #AAA;
}

input#ddd {
	width: 17%;
}

input#telefone {
	width: 60%;
}

@media screen and (max-width:420px) {
	.form input,
	.form textarea,
	.form select {
		width: 100%;
	}

	input#ddd {
		width: 30%;
	}

	input#telefone {
		width: 67%;
	}

	.form textarea {
		width: 100% !important;
	}

}

input.ir {
	width: 40%;
	max-width: 150px;
}

.form textarea {
	width: 80%;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
	background: #eee;
}

.form .ir {
	border: solid 1px #5da099;
	background: #ffffff;
	padding: 10px 18px;
	color: #5da099;
	cursor: pointer;
	border-radius: 0;
	width: 40%;
	max-width: 150px;
	transition: all 300ms ease-in-out;
}

.form .ir:hover {
	background: #528d87;
	color: #ffffff;
}

.bt-submit {
	display: block;
	margin: 5px 0 0 0;
}

.form span.obrigatorio {
	font-size: 0.8em;
	color: #002b81;
	margin-top: 10px;
}

.form label.error {
	display: block;
	color: red;
	margin: 0 .5em 0 0;
	vertical-align: top;
	font-size: 10px;
}

.how {
	width: 82.4% !important
}

.help {
	font-size: 11px;
	color: #666;
}

.alert {
	color: #FF0000;
}

.contact-form {
	float: right;
	color: #989898;
	font-size: 11px;
}

.contact-form strong {
	color: #6d6e71;
}

.contact-form p {
	font-size: 12px;
}

.sitemap {
	margin-left: 30px;
	list-style: none;
	list-style-type: none;
}

.sitemap li {
	font-size: 15px;
	margin: 10px 0;
}

.sitemap li a {
	color: #777;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
}

.sitemap li a:hover {
	color: #222 !important;
}

.sitemap li ul {
	margin-left: 35px;
	list-style: none;
	list-style-type: none;
}

.sitemap li ul li {
	margin: 5px 0;
	padding: 0;
}

.sitemap li ul li a {
	font-size: 12px;
	color: #777;
}

.sitemap li ul li ul li {
	margin: 5px 0;
}

.sitemap li ul li ul li a {
	font-size: 13px;
	color: #777;
}

.sitemap li a:hover {
	color: #999;
}

.msg-404 {
	position: relative;
	font-size: 22px;
	line-height: 34px;
	color: #A7A9AC;
	margin-bottom: 30px;
}

.menu-404 {
	background: #F8F8F8;
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	float: left;
	box-sizing: border-box;
	border: 1px solid #DDD;
}

.menu-404 a {
	display: block;
	margin: 0 auto;
	text-decoration: none;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
}

.slicknav_menu {
	display: none;
}

.grid {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.grid:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	box-sizing: border-box;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

#title-empresa h2 {
	font-size: 14px;
	background: #E9E9E9;
	padding: 4px 10px;
	line-height: 15px;
	color: #717171;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 0 10px 0;
	font-weight: 500;
	border-radius: 8px;
}

#title-keyword h3 {
	font-size: 12px;
	padding: 0 10px;
	line-height: 15px;
	color: #717171;
	text-decoration: none;
	margin: 0 0 10px 0;
	border-radius: 8px;
}

.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: top
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.fancybox-opened {
	z-index: 8030
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5)
}

.fancybox-inner,
.fancybox-outer {
	position: relative
}

.fancybox-inner {
	overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap
}

.fancybox-iframe,
.fancybox-image {
	display: block;
	width: 100%;
	height: 100%
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
	background-image: url(images-fancy/fancybox_sprite.png)
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(images-fancy/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: url(images-fancy/blank.gif);
	-webkit-tap-highlight-color: transparent;
	z-index: 8040
}

.fancybox-prev {
	left: 0
}

.fancybox-next {
	right: 0
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px
}

.fancybox-nav:hover span {
	visibility: visible
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important
}

.fancybox-lock {
	overflow: hidden !important;
	width: auto
}

.fancybox-lock body {
	overflow: hidden !important
}

.fancybox-lock-test {
	overflow-y: hidden !important
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(images-fancy/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll
}

.fancybox-title {
	visibility: hidden;
	font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050
}

.fancybox-opened .fancybox-title {
	visibility: visible
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: 0 0;
	background: rgba(0, 0, 0, .8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: 700;
	line-height: 24px;
	white-space: nowrap
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff
}

.fancybox-title-inside-wrap {
	padding-top: 10px
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8)
}

@media only screen and (min-width:767px) and (max-width:959px) {
	header {
		height: 150px;
	}

	header nav a {
		padding: 10px 0px;
		width: 142px;
	}

	.gallery li {
		margin: 4px;
	}

	article img {
		max-width: 100%;
	}

	#servicosTabsDois .nav li a {
		padding: 10px;
	}

	.col-m-1 {
		width: 8.33% !important;
	}

	.col-m-2 {
		width: 16.66% !important;
	}

	.col-m-3 {
		width: 25% !important;
	}

	.col-m-4 {
		width: 33.33% !important;
	}

	.col-m-5 {
		width: 41.66% !important;
	}

	.col-m-6 {
		width: 50% !important;
	}

	.col-m-7 {
		width: 58.33% !important;
	}

	.col-m-8 {
		width: 66.66% !important;
	}

	.col-m-9 {
		width: 75% !important;
	}

	.col-m-10 {
		width: 83.33% !important;
	}

	.col-m-11 {
		width: 91.66% !important;
	}

	.col-m-12 {
		width: 100% !important;
	}

}

@media only screen and (max-width:765px) {
	.list-group li {
		float: none;
		width: 100%;
	}

	.list-group li {
		margin-left: 25px;
	}

	#breadcrumb {
		/* right: 20px; */
		top: 0;
	}

	.intro-img h1 {
		/* margin-left: 25px; */
		width: 100%;
		top: 0;
	}

	.intro-img {
		height: 115px;
	}

	footer .wrapper {
		text-align: center !important
	}

	.copyright-footer {
		text-align: center
	}

	footer .menu-footer nav li {
		display: block;
		background: rgba(0, 0, 0, 0.2);
		margin: 10px 0px;
		text-align: center;
		padding: 10px
	}

	.contact-footer {
		float: none
	}

	.copyright-footer .wrapper {
		text-align: center
	}

	footer .social {
		float: none;
		width: 100%
	}

	.copyright-footer .selos {
		float: none;
		margin: 10px 0px
	}

	.copyright-footer .selos a {
		float: none;
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, 0.2);
		padding: 10px 0px;
		margin: 10px 0px
	}

	footer .social .social-icons {
		float: none;
		padding: 10px 0px;
		margin: 10px 0px;
		width: 100%;
		text-align: center
	}

	.js #menu {
		display: none;
	}

	.js .slicknav_menu {
		display: block;
		z-index: 9999;
	}

	h2 {
		font-size: 15px
	}

	header {
		height: 40px;
		position: relative !important;
		border-bottom: 1px solid #DDD
	}

	header .logo {
		width: 100%;
	}

	header .logo a {
		background-image: url(../imagens/logo-2.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 129px;
		height: 30px;
		display: block;
		margin: 0 auto;
	}

	.intro,
	.slider-wrapper {
		display: none;
	}

	.intro h1 {
		font-size: 12px;
		line-height: 30px;
		margin-top: 15px;
		position: relative;
	}

	.intro h1 span {
		font-size: 14px;
	}

	section img {
		max-width: 100%
	}

	section.cinza {
		background: #FFF;
		border-top: 5px solid #EEE;
	}

	article {
		width: 100%;
	}

	aside {
		width: 100%;
		margin: 0;
	}

	#servicosTabsDois .nav li a {
		padding: 8px;
		font-size: 13px;
		width: 100%;
	}

	.thumbnails-parceiros li {
		width: 40%;
		height: 40%;
		margin: 4%;
	}

	section {
		padding: 0 15px;
		box-sizing: border-box;
	}

}

@media only screen and (max-width:480px) {
	[class*="col-"] {
		width: 100%;
	}

	#slide-show {
		height: 880px !important;
	}

	.content {
		padding: 0 15px;
	}

}

.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: left;
}

.slicknav_menu .slicknav_icon {
	float: left;
	margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
	margin: 0
}

.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em
}

.slicknav_nav {
	clear: both
}

.slicknav_nav ul,
.slicknav_nav li {
	display: block
}

.slicknav_nav .slicknav_arrow {
	font-size: 0.8em;
	margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
	cursor: pointer;
}

.slicknav_nav .slicknav_row {
	display: block;
}

.slicknav_nav a {
	display: block
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display: inline
}

.slicknav_menu:before,
.slicknav_menu:after {
	content: " ";
	display: table;
}

.slicknav_menu:after {
	clear: both
}

.slicknav_menu {
	font-size: 16px;
}

.slicknav_btn {
	margin: 5px 5px 6px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #222222;
}

.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
	background-color: #f5f5f5;
}

.slicknav_menu {
	background: #4c4c4c;
	padding: 5px;
}

.slicknav_nav {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
}

.slicknav_nav,
.slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}

.slicknav_nav ul {
	padding: 0;
	margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
	padding: 5px 10px;
	margin: 2px 5px;
}

.slicknav_nav a {
	padding: 5px 10px;
	margin: 2px 5px;
	text-decoration: none;
	color: #fff;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	padding: 0;
	margin: 0;
}

.slicknav_nav .slicknav_row:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #ccc;
	color: #fff;
}

.slicknav_nav a:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #ccc;
	color: #222;
}

.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}

.iframeWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.iframeWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-apresentacao{
text-align: center;
}
.vid-apresentacao video{
	width: 80%;
	height: auto;
}

.txtright{
	text-align: right;
}
.txtcenter{
	text-align: center;
}
.thumbnails-mod9 {
display: inline-block;
list-style: none;
list-style-type: none;
}
.thumbnails-mod9 li {
float: left;
width: 300px;
height: 245px;
margin: 10px 13px;
text-align: center;
text-transform: uppercase;
transition: .3s;
}
.thumbnails-mod9 li:hover img{
opacity: 0.9;
}
.thumbnails-mod9 img{
width: 300px;
height: 200px;
object-fit: cover;
box-sizing: border-box;
border: 2px solid #ffcd00;
transition: .3s;
}
.thumbnails-mod9 h2 {
font-size: 12px;
/* background: #333; */
height: 35px;
padding: 5px 0px;
margin-top: 0px;
}
.thumbnails-mod9 li:hover a{
color: #ffcd00;
}
.thumbnails-mod9 a {
text-decoration: none;
color: #333;
transition: .3s;
}
.thumbnails-mod9 a:hover {
text-decoration: none;
}
@media only screen and (max-width: 765px){
.thumbnails-mod9{
text-align: center;
width: 100%;
}
.thumbnails-mod9 li{
margin: 20px auto;
float: none;
}
}
.img-destaques{
	width: 80%;
}

*{
	text-decoration: none;
	list-style: none;
} 
.superior{width: 75px;}

.logo-top {

background: #B90E1C;

font-size: 20px;

right: 0;

width: 100%;

padding-left:  2em;

height: 80px;

top: 0;
}

.menu {

float: right;

background:  #B90E1C;

text-transform:  uppercase;

list-style:  none;

padding: 1.6em 8em 0 0;
}

.limpar{
	
color: #fff;
	
font-size: 20px;
}


.capa{

display: flex;
}

.img-capa{}

.main{

width: 80%;
}

.text-capa{

}

.text-h1{

}






.center-footer {

text-align: left;

font-size: 10px;

color: #eee;

padding: 20px;

background: linear-gradient(to bottom,#323232 0%,#3F3F3F 40%,#1C1C1C 150%),linear-gradient(to top,rgba(255,255,255,0.40) 0%,rgba(0,0,0,0.25) 200%);

background-blend-mode: multiply;

flex-direction: column;
}

.aling-footer{
	
align-items: center;
	
margin: 0px 48em;
	
display: flex;
}
.logo-bot{}

.parc{font-size:  17px;text-transform: uppercase;}

.soluc{

}
img{
}