* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 28px;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

nav ul {
	list-style: none;
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .2s;
}    

nav ul li a:hover {
	color: #FC8013;
}

nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #fff;
	height: 5px;
}

nav.stroke ul li a:hover:after {
	width: 100%;
}

nav.fill ul li a {
	transition: all 2s;
}

nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}

nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}

nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}

.clear {
	clear: both;
}

.sobre {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 44px 10px 10px!important;
	height: 25px;
	text-align: center;
	transition: all .3s linear;
	font-size: 28px!important;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}
button {
	cursor: pointer;
}
.scroll-down {
	position: relative;
	left: 40%; 
	height: 45px;
	width: 45px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	text-align: center;
	font-size: 12px;
	margin-top: 50px;
	color: #fff;
	display: inline-block;
	clear: both;
}

.arrow {
	color: white!important;
	cursor: pointer;
}

.line {
	width: 25%;
	border-bottom: 5px solid #e67e22;
}

.line-center {
	width: 10%;
	border-bottom: 5px solid #e67e22;
	text-align: center;
	margin: 30px auto 30px auto;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #444;
	background: #fdfbfb;
}

h1 {
	color: #2172b3;
	font-size: 24px;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	margin: 20px 5px;
}

h3,
h4 {
	font-size: 12px;
	color: #2172b3;
	text-decoration: none;
	margin: 15px 0;
}

a {
	color: #2172b3;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.tel {
	text-decoration: none;
	color: inherit;
}

.topofixo {
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0px;
}

.topofixo .logo img {
	width: 120px;
	transition: .3s;
}

.topofixo #menu2 {
	font-size: 14px;
	margin: 18px 0;
}

.topofixo .topo {
	display: none;
}

.logo-top {
    
    height: 65px;
    width: 80px;
    float: left;
    margin-left: 190px;
    text-align: center;
    background: url("../imagens/logo-1.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    transition: .3s ease-in-out;

}
.logo-top:hover {
    
transform: scale(1.02);
   opacity: .6;

}

header {
	margin: 0 auto;
	background: white;
}

header .logo {
	float: left;
	margin: 20px 0;
}

header .logo img {
	width: 220px;
	transition: .3s;
}

header .right {
	float: right;
	text-align: right;
	color: #666;
	font-size: 12px;
	margin: 17px 0px;
}

header .right strong {
	font-size: 20px;
}

header #menu {
	clear: both;
	position: fixed;
	height: 65px;
	background: #e67e22;
	font-size: 19px;
	text-align: center;
	right: 0;
	width: 100%;
	top: 0;
	-webkit-box-shadow: 0px 7px 12px -2px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0px 7px 12px -2px rgba(0, 0, 0, 0.38);
	box-shadow: 0px 1px 12px -2px rgba(0, 0, 0, 0.38);
}

header #menu li {
	position: relative;
	display: inline-block;
}

header #menu a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 19.8px 30px;
	height: 25px;
	text-align: center;
	transition: all .3s linear;
}

header #menu ul {
	margin-right: 12.5%;
}

header #menu a:hover,
header #menu li:hover a {
	color: #FFF;
	background: #bf5a008f;
}

header #menu table {
	border-collapse: collapse;
	position: absolute;
	left: 0;
	top: 0;
}

header #menu .dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 65px;
	left: 0;
	margin: 0;
	height: auto;
	width: 230px;
	z-index: 7;
	background: #e67e22;
}

header #menu .dropdown:hover .sub-menu {
	display: block;
}

header #menu .dropdown:hover .sub-menu li {
	position: relative;
	float: left;
	width: 230px;
	margin: 0;
	padding: 0;
}

header #menu .dropdown:hover .sub-menu li a {
	display: block;
	width: 220px;
	font-size: 13px;
	padding: 5px;
	height: auto;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header #menu .dropdown:hover .sub-menu li a:hover {
	background: #bf5a008f;
	color: #FFF;
}

header #menu .dropdown ul li.dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu {
	display: block;
}

header #menu .dropdown .sub-menu-info {
	display: none;
	position: absolute;
	top: 31px;
	left: -517px;
	margin: 0;
	height: auto;
	width: 900px;
	z-index: 7;
	background: #2172b3;
}

header #menu .dropdown:hover .sub-menu-info {
	display: block;
}

header #menu .dropdown:hover .sub-menu-info li {
	position: relative;
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
}

header #menu .dropdown:hover .sub-menu-info li a {
	display: block;
	width: 290px;
	font-size: 12px;
	padding: 5px;
	height: auto;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header #menu .dropdown:hover .sub-menu-info li a:hover {
	background: #1a5b8f;
	color: #FFF;
}

header #menu .dropdown ul li.dropdown .sub-menu-info {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu-info {
	display: block;
}

header #menu2 {
	height: 30px;
	font-size: 15px;
	text-align: center;
	float: right;
	margin: 29px 0;
}

header #menu2 li {
	position: relative;
	display: inline-block;
}

header #menu2 a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 3px 15px;
	height: 25px;
	text-align: center;
	transition: all .3s linear;
}

header #menu2 a:hover,
header #menu2 li:hover a {
	color: #FFF;
	background: #2172b3;
}

header #menu2 table {
	border-collapse: collapse;
	position: absolute;
	left: 0;
	top: 0;
}

header #menu2 .dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	margin: 0;
	height: auto;
	width: 230px;
	z-index: 7;
	background: #2172b3;
}

header #menu2 .dropdown:hover .sub-menu {
	display: block;
}

header #menu2 .dropdown:hover .sub-menu li {
	position: relative;
	float: left;
	width: 230px;
	margin: 0;
	padding: 0;
}

header #menu2 .dropdown:hover .sub-menu li a {
	display: block;
	width: 220px;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #fff;
	height: auto;
}

header #menu2 .dropdown:hover .sub-menu li a:hover {
	background: #1a5b8f;
	color: #FFF;
}

header #menu2 .dropdown ul li.dropdown .sub-menu {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 7;
}

header #menu2 .dropdown ul li.dropdown:hover .sub-menu {
	display: block;
}

header #menu2 .dropdown .sub-menu-info {
	display: none;
	position: absolute;
	top: 31px;
	left: -577px;
	margin: 0;
	height: auto;
	width: 900px;
	z-index: 7;
	background: #2172b3;
}

header #menu2 .dropdown:hover .sub-menu-info {
	display: block;
}

header #menu2 .dropdown:hover .sub-menu-info li {
	position: relative;
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
}

header #menu2 .dropdown:hover .sub-menu-info li a {
	display: block;
	width: 290px;
	font-size: 12px;
	height: auto;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

header #menu2 .dropdown:hover .sub-menu-info li a:hover {
	background: #1a5b8f;
	color: #FFF;
}

header #menu2 .dropdown ul li.dropdown .sub-menu-info {
	display: none;
	position: absolute;
	top: 0px;
	left: 200px;
	margin: 0;
	height: auto;
	width: 190px;
	z-index: 7;
}

header #menu2 .dropdown ul li.dropdown:hover .sub-menu-info {
	display: block;
}

.btn-space {
	height: 90px;
}

/**/

.wrapper-above {
	padding-left: 40px;
	padding-top: 220px;
}

.container {
	height: 900px;
	position: relative;
}

.randomClass {
	height: 30px;
	width: 100%;
	background-color: burlywood;
}
.wrapper-footer {
        max-width: 100%;
		width: 1140px;
		margin: 0 auto;
}
.wrapper-copy {
        max-width: 100%;
		width: 1140px;
		margin: 0 auto;
}

.wrapper-main {
	background-image: #f5f7fa;
	padding-bottom:  55px;
}

.wrapper-main h2 {
	color: #2172b3;
	padding: 0 12em;
	text-align: justify;
}

.wrapper-main-dg {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	padding-bottom: 0;

}

.conheca {
	background: url("../imagens/bg-conheca.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
	width: 100%;
	clear: both;
}

.conheca-bloco {
	margin: 0 auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.conheca img {
    max-height: 100%;
    max-width: 100%;
}

.conheca ul {
	margin: 10px auto;
}

.conheca h2 {
	color: #fff!important;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 20px 10px 10px 10px;
}

.conheca-bloco li {
	float: left;
	width: 280px;
	height: 280px;
	background: white;
	margin: 10px 42px;
	text-align: center;
}

.conheca-bloco li:hover {
	opacity: .8;
}

.incomplete-box {
	border: 10px solid transparent;
	-moz-border-image: -moz-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
	border-image: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
	border-image-slice: 1;
	border-right: none;
	width: auto;
	position: relative;
	font-size: 1.4em;
	margin-top: 75px;
	padding: 4px 20px 0px 10px;
	margin-left: 180px;
	transition: .3s ease;
}


.incomplete-box img {
	/* min-width: 115%; */
}

.incomplete-box h2 {

	font-size: 1.1em!important;
	text-transform: uppercase;
	padding:0;

}

.incomplete-box h3 {
		color: #fff;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;

}

.incomplete-box::after,
.incomplete-box::before {
	content: '';
	position: absolute;
	height: 120px;
	width: 9px;
	background: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
	border: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
	border-image: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
	border-image-slice: 1;
	right: 0;
}

.incomplete-box::after {
	top: 0;
	height: 50px;
}

.incomplete-box::before {
	bottom: 0;
	height: 200px;
}

.quadro-1 h3 {
	padding: 10px 0;
	color: #2172b3;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.lista-h4 {
	padding: 20px 0;
}

.quadro-2 {
	max-width: 475px;
	background: #2172b3;
	color: white;
	font-size: 1em;
	text-align: center;
	margin-top: 75px;
	right: 0;
	margin-left: 6%;
	padding: 5px 20px;
	transition: .3s ease;
}

.quadro-2:hover {
	-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
}

.quadro-2 h3,
ul,
li {
	text-align: left;
}

.quadro-2 h3 {

		font-size: 28px;
	font-family: 'open sans', sans-serif;
	color:#fff;
	text-transform: uppercase;

}
.quadro-2 h4 {color: #fff;font-size: 16px;font-family: 'open sans', sans-serif;}

.wrapper-intro .wrapper {
    width: 100%; 
	max-width: 980px; 
    margin: 0 auto; 
    padding-top: 8.5em;
	max-height: 625px!important;
	display:  flex;
	flex-direction:  column;
}

.wrapper-intro {
	width: 100%;
	margin: 0 auto;
	background: url("../imagens/slider/bg-fundo1.jpg")no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
/*	height: 100vh;*/
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.wrapper-intro h1 {
	font-size: 4em;
	color: #fff;
	margin: 0.65em 0;
	text-transform: uppercase;
}

.wrapper-intro h2 {
	text-transform: uppercase;
	margin: 1.5em auto;
}
 
.wrapper-intro p {
	color: #fff;
	letter-spacing: .032em;
	margin: 1.5em 0;
	padding: 0 100px 0 0;
}

.wrapper-intro button {
	margin: 10px auto;
}
.main-content {
	width: 1140px;
    max-width: 100%;
	display: inline-block;
}

.destaque {
	padding: 0 15px;
}

.destaque h2 {
	color: #2172b3;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 40px;
}

.arrow {
	color: #e67e22;
	padding-bottom: 20px;
	height: 45px;
	width: 45px;
	box-sizing: border-box;
}

section {
	float: left;
	width: 100%;
	padding: 0;
}

section p {
	font-size: 14px;
	padding: 0;
	text-align: justify;
}

article {}

article p {
	margin: 1.5em 0;
}

article strong {
	font-weight: normal;
}

article.full {
	width: 100%;
}

article .alerta {
	font-size: 12px;
	color: #444;
	font-weight: bold;
}

.title-breadcrumb {
	background: #367fba;
	box-sizing: border-box;
	padding: 20px 0;
	margin-bottom: 30px;
}

.title-breadcrumb h1 {
	color: white;
	margin: 0;
}

.title-breadcrumb #breadcrumb {
	width: auto;
	margin-top: 0px;
	float: right;
	background: white;
	box-sizing: border-box;
	padding: 10px;
}

.title-breadcrumb #breadcrumb a {
	color: #666;
	text-decoration: none;
}

.title-breadcrumb #breadcrumb a:hover {
	color: #bbb;
	text-decoration: none;
}

#breadcrumb {
	display: inline-block;
	clear: both;
	width: 100%;
	color: #0B1933;
	font-size: 12px;
	margin-top: 15px;
}

#breadcrumb div {
	display: inline;
}

#breadcrumb a {
	color: #666;
	text-decoration: none;
}

#breadcrumb a:hover {
	color: #bbb;
	text-decoration: none;
}

.list {
	margin: 0 0 20px 40px;
}

.list li {
	list-style: disc;
	margin: 6px 0;
	line-height: 1.5em;
	font-size: 14px;
}

.picture-legend {
	background: #eee;
	display: inline-block;
	padding: 3px;
}

.picture-legend strong {
	clear: both;
	display: block;
	text-align: right;
	font-weight: normal;
	padding: 4px;
	font-size: 9px;
}

.picture-legend img {
	margin: 0 auto;
	display: block;
}

.picture-left {
	float: left;
	margin: 0 10px 0 0;
	max-width: 50%;
}

.picture-right {
	float: right;
	margin: 0 0 0 10px;
	max-width: 50%;
}

.picture-center {
	margin: 0 auto;
	display: block;
}

.btn {
	text-decoration: none;
	color: #fff;
	background: #2172b3;
	padding: 10px 15px;
	margin: 2.25em auto;
	font-size: 14px;
	display: inline-block;
	transition: .3s;
	box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
	opacity: 0.9;
}

.topo {
	background: #2172b3;
	color: white;
	font-size: 13px;
	padding: 8px 10px;
}

.topo a {
	color: white;
	margin: 0 10px;
	text-decoration: none;
}

header .topo .social {
	display: inline-block;
	float: right;
}

.conteudo-index {
	background: #efefef;
	box-sizing: border-box;
	padding: 10px 0px;
}

.conteudo-index h2,
.conteudo-index h1 {
	color: #444;
}

.conteudo-index p {
	color: #444;
}

.fundo-img {
	position: relative;
	display: inline-block;
	margin: 20px 35px;
	background-color: #2172b3;
}

.image {
	float: left;
	opacity: 1;
	display: inline-block;
	width: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	position: absolute;
	text-align: center;
	padding-top: 20px;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.middle h4 {
	color: #fff;
}

.fundo-img:hover .image {
	opacity: 0.2;
}

.fundo-img:hover .middle {
	opacity: 1;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.btn-4 {
	color: #fff;
	overflow: hidden;
	background-color: #e67e22;
	padding: auto 10px;
	transition: .3s ease;
}


}
.btn-4:hover {
	background: #E56E05;
}
.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-4:active:before {
	color: #9E4C03;
}
.wrapper-btn {
	padding: 55px 0;
	margin: 0 auto;
}
.btn-intro {
	background: #e67e22;
	width: 265px;
	height: 55px;
	margin: 0 50px 0 0;
	color: #fff;
	transition: background-image 1s;
	box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
	transition: .3s ease;
}
.btn-intro:hover {}
.btn-intro:active {
	font-weight: 700;
}
.btn-saiba {
	background-color: transparent;
	width: 265px;
	height: 55px;
	border: 3px solid white;
	color: #fff;
	box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
	transition: .3s ease;
	margin-left: 50px!important;
}
.btn-saiba:hover {
	background-color: #fff;
	color: #1C4183;
}
.btn-quadro {
	background-color: #e67e22;
	width: 205px;
	height: 55px;
	color: #fff;
	margin: 68px 20px;
	box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2);
	transition: .3s ease;
}
.btn-quadro:hover {
	background-color: #e67e22;
	color: #fff;
}
.btn-quadro-menu {
	background-color: transparent;
	width: 205px;
	height: 55px;
	border: 3px solid white;
	color: #fff;
	margin: auto 20px;
	box-shadow: 0 12px 42px 0 rgba(0, 0, 0, 0.2) transition:.3s ease;
	;
}
.btn-quadro-menu:hover {
	background-color: #fff;
	color: #2172b3;
}
.quadro-1 img {
	min-width: 125%;
	height: auto;
	margin-left: -25px;
	margin-top: -120px;
}
.thumbnails {
	display: inline-block;
	list-style: none;
	list-style-type: none;
}
.thumbnails li {
	float: left;
	width: 213px;
	height: 235px;
	margin: 10px 16px;
	text-align: center;
	text-transform: uppercase;
	transition: .3s;
}
.thumbnails li:hover img {
	opacity: 0.9;
}
.thumbnails li:hover h2 {
	opacity: 0.9;
}
.thumbnails img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: .3s;
}
.thumbnails h2 {
	font-size: 10px;
	background: #2172b3;
	height: 22px;
	padding: 8px 0px;
	margin-top: 0px;
	transition: .3s;
}
.thumbnails a {
	text-decoration: none;
	color: white;
}
.thumbnails a:hover {
	text-decoration: none;
}
aside {
	float: left;
	width: 25%;
	margin: 0 0 0 30px;
	text-transform: uppercase;
}
aside h2 a {
	display: block;
	padding: 5px;
	font-size: 15px;
	background: #2172b3;
	color: #fff;
	text-decoration: none;
}
aside nav {
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
}
aside li {
	margin: 5px 0 0 0;
}
aside li a {
	font-size: 12px;
	display: block;
	padding: 5px;
	color: #666;
	transition: all .3s linear;
	text-decoration: none;
	border-left: 2px solid #cccccc;
}
aside nav li a:hover {
	border-left: 2px solid #000;
}
aside h3 {
	color: #fff;
	background: #2172b3;
	padding: 10px 0;
	margin-bottom: 0;
	text-align: center;
}
aside p {
	background: #eee;
	margin: 0;
	text-align: center;
}
aside strong {
	font-size: 16px;
	line-height: 34px;
	color: #666;
}
aside a {
	text-decoration: none;
}
.more {
	margin-bottom: 20px;
}
.more h2 strong {
	font-size: 16px;
}
.gallery {
	display: inline-block;
	list-style-type: none;
	list-style: none;
	text-align: center;
}
.form-conteudo {
	width: 50%;
	height: auto;
	float: left;
	margin: 0 auto;
}
.form-conteudo-1 {
	width: 50%;
	height: auto;
	float: right;
}
.form-style-5 h1 {
	font-size: 1.8em;
	color: #595959;
	text-transform: uppercase;
	padding: 0 109px;
}
.form-style-5 p {
	font-size: 1em;
	color: #595959 !important;
	text-align: left !important;
	font-weight: 900;
	margin: 0 166px 0 109px;
	text-align: justify!important;
}
.form-style-5 {
	max-width: 100%;
	padding: 10px 5px;
	background: #fff;
	display: inline-block;
	clear: both;
}
.form-style-5 fieldset {
	border: none;
	width: 100%;
	display: inline-block;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
	margin: 0 auto;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea[type="mensagem"],
.form-style-5 select {
	background: #e5e5e5;
	border: 1px solid #b2b2b2;
	font-size: 12px;
	outline: 0;
	height: 50px;
	padding: 0 5px;
	width: 90%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #8a97a0;
	margin: 20px auto;
}
.form-style-5 textarea {
	background: #e5e5e5;
	height: 228px !important;
	border: 1px solid #b2b2b2;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 select:focus {
	background: #e5e5e5;
	height: 50px;
}
.form-style-5 select {
	-webkit-appearance: menulist-button;
	height: 35px;
}
.form-style-5 .number {
	background: #1C4183;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	15px 15px 0px;
}
input[type="submit"],
input[type="button"] {
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background: #e67e22;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	margin: 20px auto;
	border-width: 1px 1px 3px;
	width: 246px;
	height: 55px;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background: #e76e03;
}
.fundo-form {
	background: url("https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cbf6407ba0ece1ef6ba9eb7230137a6&auto=format&fit=crop&w=1498&q=80") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #e67e22;
	background-blend-mode: screen;
	opacity: .95;
	height: 400px;
}
.centralizar {
	display: table;
	margin: 0 auto;
}
.captcha {
	clear: both;
	text-align: center!important;
}
.estilo-formulario {
	font-size: 1.6em;
	color: black;
	background-color: white;
	border: 2 solid black;
}
.gallery ul {
	margin: 0 auto!important;
}
.gallery li {
	float: left;
	text-align: center;
	transition: .3s;
/*	margin: 10px 45px 0px 0px;*/
	
}
.gallery li:hover {
	opacity: 0.9;
	transform: scale(1.1);
}
.gallery li img {
	width: 160px;
	height: 160px;
	object-fit: cover;
	margin: 20px 20px;
	border: 5px solid transparent;
	transition: .9s;
}
.gallery img:hover {
	border: 5px solid orange;
}
p.ampliar {
	color: #F30;
	font-size: 11px;
	margin: 0 0;
}
.compartilhe {
	font-size: 0.75em;
	margin: 0.5em 0;
	display: block;
	font-weight: bold;
}
.social-media {
	display: inline-block;
	padding: 0;
	margin: 5px 0;
}
.social-media li {
	float: left;
	margin-right: 10px;
}
.bt-twitter {
	text-indent: -5000px;
	overflow: hidden;
	display: block;
	width: 55px;
	height: 20px;
	background: url(../imagens/icones/tweet.png) no-repeat 0 0;
}
.bt-twitter:hover {
	background-position: 0px -20px;
}
.fundo-relacionados {
	margin: 0 auto;
	padding: 30px 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 5px solid #e67e22;
	display: inline-block;
	clear: both;
	width: 100%;
}
.fundo-relacionados h2 {
	color: #2172b3!important;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 40px;
}
.fundo-relacionados b {
	font-weight: bold;
}
.fundo-relacionados ul {
	display: inline-block;
	width: 100%;
}
.fundo-relacionados li {
	float: left;
	width: 25%;
	height: 378px;
	background-color: #2172b3;
}
.fundo-relacionados li:hover {
	background-color: rgba(252, 121, 5, 0.9);
}
.rel-center {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	height: auto;
}
.foto {
	background: url(../imagens/prod-rel-01.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 1;
}
.foto:hover {
	background-color: rgba(252, 121, 5, 0.9);
	opacity: 0.3;
	transition: .5s;
}
.foto1 {
	background: url(../imagens/prod-rel-02.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.foto1:hover {
	background-color: rgba(252, 121, 5, 0.3);
	opacity: 0.3;
	transition: .5s;
}
.foto2 {
	background: url(../imagens/prod-rel-03.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.foto2:hover {
	background-color: rgba(252, 121, 5, 0.3);
	opacity: 0.3;
	transition: .5s;
}
.foto3 {
	background: url(../imagens/prod-rel-04.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.foto3:hover {
	background-color: rgba(252, 121, 5, 0.3);
	opacity: 0.3;
	transition: .5s;
}
.container {
	float: left;
}
@media screen and (max-width:640px) {
	.container {
		display: block;
	}
}
@media screen and (min-width:900px) {
	.container {}
}
.container .title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}
.content {
	position: relative;
	margin: auto;
}
.content h2 {
	color: #2172b3!important;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 30px;
}
.content .content-overlay {
	background: #2172b3;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
	opacity: .8;
}
.content-image {
	min-width: 100%;
	width: auto;
	height: auto;
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-top: 40px;
	top: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.conetent-details p {
	text-align: center!important;
}
.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}
.content-details h3 {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
.content-details p {
	color: #fff;
	font-size: 0.8em;
}
.quadro-hover {
	margin: 25px;
}
.fadeIn-bottom {
	top: 80%;
}
.fadeIn-top {
	left: 50%;
	bottom: -5%;
}
.related-posting-title {
	font-size: 22px;
}
.related-posting {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.row {
	clear: both;
	display: block;
	background: #E8E8E8;
	border-left: 3px solid #ccc;
	padding: 10px 20px;
	transition: all .3s linear;
	min-height: 85px;
	margin: 0 0 2px 0;
	overflow: hidden;
}
.row:hover {
	border-left: 3px solid #666;
}
.row img {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	border: 1px solid #CCC;
	margin: 0 10px 0 0;
}
.row p {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 0;
}
.row a {
	color: #666;
	text-decoration: none;
}
.row p a {
	color: #69747b;
}
.row strong {
	font-size: 12px;
}
.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#servicosTabsDois .list-wrap {
	background: #eee;
	padding: 10px;
	margin: 0 0 15px 0;
	font-size: 10px;
}
#servicosTabsDois ul {
	list-style: none;
	display: inline-block;
}
#servicosTabsDois .list-wrap li {
	width: 160px;
	float: left;
	color: #666;
}
#servicosTabsDois .nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#servicosTabsDois .nav li {
	float: left;
	margin: 0 10px 0 0;
}
#servicosTabsDois .nav li.last {
	margin-right: 0;
}
#servicosTabsDois .nav li a {
	display: block;
	text-decoration: none;
	padding: 12px;
	background: #ddd;
	transition: all .3s linear;
	color: #666;
	font-size: 12px;
	text-align: center;
	border: 0;
}
#servicosTabsDois .nav li a:hover,
#servicosTabsDois .nav li a:focus {
	background: #999;
	color: #fff;
}
#servicosTabsDois ul li.nav-two a.current {
	background-color: #eee !important;
	color: #666;
}
.copyright {
	font-size: 10px;
	color: #666;
}
.copyright a {
	font-size: 10px;
	color: #666;
}
footer {
	clear: both;
	padding: 15px;
	background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
footer a {
	display: inline-block;
}
.contact-footer {
	float: left;
	color: #eee;
	margin-right: 30px;
}
.contact-footer strong {
	font-size: 18px;
}
.contact-footer a {
	text-decoration: none;
	color: #fff;
}
footer address {
	margin: 0 0 10px 0;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
}
footer address span {
	margin: 0 0 5px 0;
	font-size: 14px;
	font-weight: bold;
	display: block;
}
footer .menu-footer {
	text-align: right;
}
footer .menu-footer nav {
	margin: 3px 0;
}
footer .menu-footer nav li {
	display: inline;
	padding: 0 10px 0 0;
}
footer .menu-footer nav li a {
	color: #eee;
	font-size: 13px;
	text-decoration: none;
}
footer .menu-footer nav li a:hover {
	color: #bbb;
}
footer .social {
	margin: 15px 0 0 0;
	float: right;
}
footer .social .social-icons:hover {
	opacity: 1;
	background: #FFF;
	color: #2172b3;
}
footer .social .social-icons {
	width: auto;
	;
	transition-property: all;
	transition-duration: 0.3s;
	padding: 10px;
	display: block;
	margin: 0 0 0 5px;
	float: right;
	font-size: 18px;
	background: #2172b3;
	color: #FFF;
	min-width: 25px;
	min-height: 20px;
	text-align: center;
}
.copyright-footer {
	text-align: left;
	font-size: 10px;
	color: #eee;
	padding: 20px 20px;
	background: #0B1933;
}
.copyright-footer .selos {
	float: right;
	margin-right: 82px;
}
.copyright-footer .selos strong {
	background: #fff;
	color: #363b36;
	padding: 0px 5px;
}
.copyright-footer .selos a {
	margin: 0 0 0 5px;
	color: #B7B7B7;
	text-decoration: none;
	opacity: 0.8;
	transition-property: all;
	transition-duration: 0.3s;
}
.copyright-footer .selos a:hover {
	opacity: 1;
}
.contact {
	display: block;
	padding: 0 20px;
}
.form {
	float: left;
	width: 50%;
}
.form label {
	width: 185px;
	font-weight: bold;
	padding-right: 5px;
	font-size: 13px;
	display: table-cell;
	vertical-align: middle;
}
.form label span {
	font-size: 9px;
	color: #C00;
}
.form input,
.form textarea,
.form select {
	width: 80%;
	margin: 10px 0 4px 0;
	padding: 8px 5px;
	border: solid 1px #CFCFCF;
	font-size: 16px;
	box-sizing: border-box;
}
input#ddd {
	width: 17%;
}
input#telefone {
	width: 59%;
}
@media screen and (max-width:420px) {
	.form input,
	.form textarea,
	.form select {
		width: 100%;
	}
	
	input#ddd {
		width: 30%;
	}
	
	input#telefone {
		width: 67%;
	}
	
	.form textarea {
		width: 100% !important;
	}
}
input.ir {
	width: 40%;
	max-width: 150px;
}
.form textarea {
	width: 80%;
	font-family: fonte;
	margin-bottom: 18px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
	background: #eee;
}
.form .ir {
	border: solid 1px #666;
	background: #ffffff;
	padding: 10px 18px;
	color: #666;
	cursor: pointer;
	width: 40%;
	max-width: 150px;
	transition: all 300ms ease-in-out;
}
.form .ir:hover {
	background: #2ecc71;
	color: #ffffff;
	border-color: #2ecc71;
}
.bt-submit {
	display: block;
	margin: 5px 0 0 0;
}
.form span.obrigatorio {
	font-size: 0.8em;
	color: #C00;
	margin-top: 10px;
}
.form label.error {
	display: block;
	color: red;
	margin: 0 .5em 0 0;
	vertical-align: top;
	font-size: 10px;
}
.help {
	font-size: 11px;
	color: #666;
}
.alert {
	color: #FF0000;
}
.contact-form {
	float: right;
	color: #989898;
	font-size: 11px;
	width: 50%;
}
.contact-form strong {
	color: #666;
}
.sitemap {
	margin-left: 30px;
	list-style: none;
	list-style-type: none;
}
.sitemap li {
	font-size: 15px;
	margin: 10px 0;
}
.sitemap li a {
	color: #777;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
}
.sitemap li a:hover {
	color: #222 !important;
}
.sitemap li ul {
	margin-left: 35px;
	list-style: none;
	list-style-type: none;
}
.sitemap li ul li {
	margin: 5px 0;
	padding: 0;
}
.sitemap li ul li a {
	font-size: 12px;
	color: #777;
}
.sitemap li ul li ul li {
	margin: 5px 0;
}
.sitemap li ul li ul li a {
	font-size: 13px;
	color: #777;
}
.sitemap li a:hover {
	color: #999;
}
.sitemap .fa {
	display: none;
}
.sitemap br {
	display: none;
}
.msg-404 {
	position: relative;
	font-size: 22px;
	line-height: 34px;
	color: #A7A9AC;
	margin-bottom: 30px;
}
.menu-404 {
	background: #F8F8F8;
	width: 95%;
	padding: 15px;
	margin-bottom: 20px;
	float: left;
}
.menu-404 a {
	display: block;
	margin: 0 auto;
}
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {}
.slicknav_menu {
	display: none;
}
.slicknav_nav .fa {
	display: none;
}
.slicknav_nav br {
	display: none;
}
.grid {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.grid:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float: left;
	box-sizing: border-box;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.txtcenter {
	text-align: center;
}
.txtleft {
	text-align: left;
}
.txtright {
	text-align: right;
}
.pd {
	padding: 0;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.fwidth {
	width: 100%;
}
.center-block {}
#title-empresa h2 {
	font-size: 14px;
	background: #E9E9E9;
	padding: 4px 10px;
	line-height: 15px;
	color: #717171;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 0 50px 0;
	font-weight: 500;
}
#title-keyword h3 {
	font-size: 12px;
	padding: 0 10px;
	line-height: 15px;
	color: #717171;
	text-decoration: none;
	margin: 0 0 10px 0;
}
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: top
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020
}
.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
}
.fancybox-opened {
	z-index: 8030
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5)
}
.fancybox-inner,
.fancybox-outer {
	position: relative
}
.fancybox-inner {
	overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap
}
.fancybox-iframe,
.fancybox-image {
	display: block;
	width: 100%;
	height: 100%
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
	background-image: url(images-fancy/fancybox_sprite.png)
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(images-fancy/fancybox_loading.gif) center center no-repeat
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: url(images-fancy/blank.gif);
	-webkit-tap-highlight-color: transparent;
	z-index: 8040
}
.fancybox-prev {
	left: 0
}
.fancybox-next {
	right: 0
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px
}
.fancybox-nav:hover span {
	visibility: visible
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible!important
}
.fancybox-lock {
	overflow: hidden!important;
	width: auto
}
.fancybox-lock body {
	overflow: hidden!important
}
.fancybox-lock-test {
	overflow-y: hidden!important
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(images-fancy/fancybox_overlay.png)
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
.fancybox-title {
	visibility: hidden;
	font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: 0 0;
	background: rgba(0, 0, 0, .8);
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: 700;
	line-height: 24px;
	white-space: nowrap
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff
}
.fancybox-title-inside-wrap {
	padding-top: 10px
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8)
}
.active-menu-topo {
	color: #32326b;
	font-weight: bold;
}
.active-menu-aside {
	color: rgb(33, 114, 179);
	background-color: rgba(33, 114, 179, 0.1);
	font-weight: bold;
}
.tg {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}
.tg td {
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	color: #1c1c5b;
}
.tg th {
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
.tg .tg-kf0f {
	background-color: #3166ff;
	color: #000000
}
.tabela {
	background: none repeat scroll 0% 0% rgb(101, 143, 190);
	text-align: center;
	line-height: 30px;
}
.tabela p {
	text-align: center;
	line-height: normal;
}
.tabela-conteudo {
	background: none repeat scroll 0% 0% rgb(229, 236, 244);
	padding: 0cm;
}
#scrollUp {
	bottom: 0;
	right: 30px;
	width: 70px;
	height: 55px;
	margin-bottom: -10px;
	padding: 10px 5px;
	font: 14px/20px sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	color: #FFF;
	5px 0 0;
	background-color: #2172b3;
	-webkit-transition: margin-bottom 150ms linear;
	-moz-transition: margin-bottom 150ms linear;
	-o-transition: margin-bottom 150ms linear;
	transition: margin-bottom 150ms linear;
	-webkit-box-shadow: 0px -5px 36px -3px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0px -5px 36px -3px rgba(0, 0, 0, 0.38);
	box-shadow: 0px -5px 36px -3px rgba(0, 0, 0, 0.38);
}
#scrollUp:hover {
	margin-bottom: 0;
	color: #fff
}
#scrollUp-active {
	display: none
}
}.wrapper-main-dg .gallery {

	padding-left: 0px;

}
@media only screen and (min-width:767px) and (max-width:959px) {
	.wrapper-main {
		height: auto;
		padding-bottom:0;
	}
	.wrapper-main-dg {
	padding-bottom:10px ;


}
 .wrapper-main-dg .gallery {

	padding-left: 0;

}
.wrapper-footer {
		width: 100%;
		margin: 0 auto;
}
.wrapper-copy {
		width: 100%;
		margin: 0 auto;
}
	
	.wrapper-intro button {
		margin: 0 auto;
	}
	.main-content {
	max-width: 960px;
	width: 100%;
	display: inline-block;
	padding: 10px 10px;
}
.scroll-down {

	left: 45%; 

}


	
	.col-4 {
		width: 50%;
	}
	
	.incomplete-box {
		margin: 0;
		padding: 0;
		border: transparent;
		-moz-border-image: -moz-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
		-webkit-border-image: -webkit-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
		border-image: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
		border-image-slice: 1;
		font-size: 1.4em;
		width: 50%;
		padding: 0 20px;
		margin: 0 auto;
		height: 600px;
	}
	
	.wrapper-above {
		width: 100%;
		margin: 0 auto;
	}
	
	.incomplete-box img {
		max-width: 100%!important;
		height: auto;
		margin-bottom: 52px;
		px; */
	}
	
	.incomplete-box::after {
		display: none
	}
	
	.incomplete-box::before {
		display: none
	}
	
	.quadro-1 {
		border: 8px solid transparent;
		-moz-border-image: -moz-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
		-webkit-border-image: -webkit-linear-gradient(top left, #e67e22 0%, #ffb100 100%);
		border-image: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
		border-image-slice: 1;
		font-size: 1.4em;
		width: 50%;
		padding: 0 20px;
		margin: 0 auto;
	}
	
	.quadro-1 h3 {
		padding: 10px 0;
		color: #2172b3;
		font-size: 1.4em;
	}
	
	.lista-h4 {
		padding: 20px 0;
	}
	
	.quadro-2 {
		background: #2172b3;
		color: white;
		font-size: 1em;
		text-align: center;
		width: 50%;
		padding: 10px 20px 37.5px 20px;
		margin: 0 auto;
		height: auto;
	}
	
	.quadro-2 h3,
	ul,
	li {
		text-align: left;
		list-style-type:
	}
	
	.quadro-2 h3 {
		color: #fff;
		font-size: 1.4em;
		padding: 5px 0 0 0;
	}
	
	.quadro-2 p {
		color: #fff;
		font-size: 1em;
		text-align: justify !important;
	}
	
	.btn-4 {
		color: #fff;
		overflow: hidden;
		background-color: #e67e22;
		margin: 35px 10px 20px 10px;
	}
	
	.gallery li {
		float: left;
		text-align: center;
		transition: .3s;
	}
	
	.gallery li:hover {
		opacity: 0.9;
		transform: scale(1.1);
	}
	
	.gallery li img {
		width: 110px;
		height: 110px;
		object-fit: cover;
		margin: 0 5px;
	}
	
	.wrapper {
		box-sizing: border-box;
		padding: 0 0 0 70px!important;
	}
	
	.wrapper h1 {
		box-sizing: border-box;
		padding: 0!important;
		line-height: 55px;
	}
	
	.wrapper-btn {
		width: 100%;
		padding: 10px 0;
		margin: 0 auto;
	}
	
	.btn-intro {
		background-color: #e67e22;
		width: 40%;
		height: 55px;
		margin: 10px auto;
		color: #fff;
		padding: 10px;
		margin-top: 20px;
	}
	
	.btn-intro:hover {}
	
	.btn-saiba {
		background-color: transparent;
		width: 40%;
		height: 55px;
		border: 3px solid white;
		color: #fff;
		padding: 10px;
		margin-top: 20px;
	}
	
	.btn-saiba:hover {
		background-color: #fff;
		color: #1C4183;
	}
	
	.btn-quadro {
		width: 80%;
		height: 55px;
		color: #fff;
		margin: 25px auto;
	}
	
	.btn-quadro:hover {
		background-color: #d06302;
		color: #fff;
	}
	
	header .right a {
		margin: 0px 10px;
	}
	
	header .right {
		width: 100%;
		text-align: center;
	}
	
	header .logo {
		text-align: center;
		width: 100%;
	}
	
	header .logo img {
		margin-top: 10px;
	}
	
	header nav a {
		padding: 10px 0px;
		width: 142px;
	}
	
	article img {
		max-width: 100%;
	}
	
	.gallery li {
		margin: 4px;
	}
	
	.js .slicknav_menu {
		display: block;
		z-index: 11;
	}
	
	.js #menu {
		display: none;
	}
	
	.js #menu2 {
		display: none;
	}
	
	.contact-footer a {
		color: white;
		text-decoration: none;
	}
	
	#servicosTabsDois .nav li a {
		padding: 10px;
	}
	
	.col-m-1 {
		width: 8.33% !important;
	}
	
	.col-m-2 {
		width: 16.66% !important;
	}
	
	.col-m-3 {
		width: 25% !important;
	}
	
	.col-m-4 {
		width: 50%;
	}
	
	.col-m-5 {
		width: 41.66% !important;
	}
	
	.col-m-6 {
		width: 50% !important;
	}
	
	.col-m-7 {
		width: 58.33% !important;
	}
	
	.col-m-8 {
		width: 66.66% !important;
	}
	
	.col-m-9 {
		width: 75% !important;
	}
	
	.col-m-10 {
		width: 83.33% !important;
	}
	
	.col-m-11 {
		width: 91.66% !important;
	}
	
	.col-m-12 {
		width: 100% !important;
	}
	
	.hide-tablet {
		display: none;
	}
	
	.topofixo {
		position: relative;
	}
	
	#header-block {
		display: none !important;
	}
	
	.wrapper-intro {
		min-width: 100%;
		margin: 0 auto;
		background: url("../imagens/slider/bg-fundo.jpg")no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		max-height: 800px;
		font-family: 'Open Sans', sans-serif;
	}
	
	.conheca {
		width: 100%;
		margin: 0 auto;
	}
	
	.conheca-bloco {
		margin: 0 auto;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.conheca ul {
		text-align: center;
		margin: 50px auto;
		display: inline-block;
		max-width: 100%;
	}
	
	.conheca h2 {
		color: #fff!important;
		text-align: center;
		font-size: 2em;
		font-weight: lighter;
		text-transform: uppercase;
	}
	
	.conheca-bloco li {
		float: left;
		width: 200px !important;
		height: 200px !important;
		margin: 0 10px;
		padding: 10px 0;
		text-align: center;
	}
	
	.fomr-style-5 h1 {
		padding: 15%!important;
	}
}
@media only screen and (max-width: 765px) {
	.clear {
		display: none;
	}
	
	.wrapper-main {
		height: auto;
		padding-bottom:  0;
	}
	.wrapper-intro p {
		padding: 10px 10px;
	}
	.main-content {
	width: auto;
	display: inline-block;
	}
	.scroll-down {left: 50%;}
 
	.col-2 {
		display: none;
	}
	
	.col-1 {
		display: none;
	}
	
	[class*="col-"] {
		width: 100%;
	}
	.wrapper-footer {
		width: 100%;
		margin: 0 auto;
}
.wrapper-copy {
		width: 100%;
		margin: 0 auto;
}
	
	.quadro-1 {
		margin: 0 auto!important;
		-webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
	}
	
	.quadro-2 {
		margin: 0 auto!important;
		min-width: 100%!important;
	}
	
	.captcha {
		margin: 0 auto;
	}
	
	.btn-4 {
		color: #fff;
		overflow: hidden;
		background-color: #e67e22;
		margin: 70px auto;
	}
	
	form {}
	
	.conheca ul {
		margin: 0 auto;
		display: flex;
		max-width: 100%;
	}
	
	.conheca-bloco li {
		float: left;
		width: 100px !important;
		height: 100px;
		margin: 10px 10px 30px 10px;
		text-align: center;
	}
	
	.gallery {
		/* display: block!important; */
		margin: 10px auto;
		padding: 0;
		height: auto!important;
	}
	
	.gallery ul {
		list-style-type: none;
		list-style: none;
		width: 100%;
		text-align: center;
		margin: 0;
		display: inline-block;
	}
	
	.gallery li {
		padding: 0;
		text-align: center;
		display: inline-block;
	}
	
	.gallery img {
		width: 90px !important;
		height: 90px!important;
	}
	
	.incomplete-box {
		padding: 0 10px;
		margin: 0;
		height: auto;
		border: transparent;
	}
	
	.incomplete-box img {
		max-width: 340px!important;
        min-width: 300px;

	}
	
	.incomplete-box h3 {
		font-size: 1.4em!important;
		text-transform: uppercase;
	}
	
	.incomplete-box::after {
		display: none;
	}
	
	.incomplete-box::before {
		display: none;
	}
	
	.form-conteudo {
		width: 100% !important;
		height: auto;
	}
	
	.form-conteudo-1 {
		width: 100% !important;
		height: auto;
		float: left!important;
		margin: 0;
	}
	
	.form-style-5 h1 {
		font-size: 1.6em;
		color: #595959;
		text-transform: uppercase;
		line-height: 1.2em;
		max-width: 100%;
		margin: 0 10px !important;
		padding: 0;
	}
	
	.form-style-5 p {
		color: #595959 !important;
		text-align: left !important;
		font-weight: 900;
		margin: 0 10px!important;
	}
	
	.form-style-5 {
		padding: 10px 0;
		background: #fff;
		display: block !important;
		margin: 0;
	}
	
	.form-style-5 fieldset {
		width: 97% !important;
		border: none;
		padding: 10px 0px 0 10px !important;
	}
	
	.form-style-5 legend {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
	
	.form-style-5 label {
		display: block;
		margin-bottom: 8px;
	}
	
	.form-style-5 input[type="text"],
	.form-style-5 input[type="date"],
	.form-style-5 input[type="datetime"],
	.form-style-5 input[type="email"],
	.form-style-5 input[type="number"],
	.form-style-5 input[type="search"],
	.form-style-5 input[type="time"],
	.form-style-5 input[type="url"],
	.form-style-5 select {
		background: #e5e5e5;
		border: 1px solid #b2b2b2;
		font-size: 12px;
		outline: 0;
		height: 50px;
		padding: 0 5px;
		width: 95%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: #8a97a0;
		margin: 10px auto;
	}
	
	.form-style-5 textarea {
		background: #e5e5e5;
		height: 200px;
		width: 95% !important;
		margin: 10px auto;
		border: 1px solid #b2b2b2;
	}
	
	.form-style-5 input[type="text"]:focus,
	.form-style-5 input[type="date"]:focus,
	.form-style-5 input[type="datetime"]:focus,
	.form-style-5 input[type="email"]:focus,
	.form-style-5 input[type="number"]:focus,
	.form-style-5 input[type="search"]:focus,
	.form-style-5 input[type="time"]:focus,
	.form-style-5 input[type="url"]:focus,
	.form-style-5 select:focus {
		background: #e5e5e5;
		height: 50px;
	}
	
	.form-style-5 select {
		-webkit-appearance: menulist-button;
		height: 35px;
	}
	
	.form-style-5 input[type="submit"],
	.form-style-5 input[type="button"] {
		display: block;
		padding: 19px 39px 18px 39px;
		color: #FFF;
		background: linear-gradient(to bottom right, #e67e22 0%, #ffb100 100%);
		font-size: 18px;
		text-align: center;
		font-style: normal;
		margin: 10px 0;
		border-width: 1px 1px 3px;
		width: 92%;
		height: 55px;
	}
	
	.form-style-5 input[type="submit"]:hover,
	.form-style-5 input[type="button"]:hover {
		background: linear-gradient(to right bottom, #e67e22 50%, #ffb100 100%);
	}
	
	.form-style-5 p {}
	
	.wrapper-intro {
		margin: 0 auto;
		background: url("../imagens/slider/bg-fundo.jpg")no-repeat center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		font-family: 'Open Sans', sans-serif;
		height: auto !important;
	}
	
	.wrapper-intro h1 {
		font-size: 1.8em;
		letter-spacing: 12px;
	}
	
	.wrapper-btn {
		padding: 10px;
		margin: 0 auto;
	}
	
	.btn-intro {
		width: 100%;
		height: 55px;
		margin: 10px 0;
		color: #fff;
		padding: 10px;
	}
	
	.btn-intro:hover {}
	
	.btn-saiba {
		background-color: transparent;
		width: 100%;
		height: 55px;
		border: 3px solid white;
		color: #fff;
		margin-left: 0 !important;
	}
	
	.btn-saiba:hover {
		background-color: #fff;
		color: #1C4183;
	}
	
	.btn-quadro {
		background-color: transparent;
		width: 95%;
		height: 55px;
		border: 3px solid white;
		color: #fff;
		margin: 50px 10px;
	}
	
	.btn-quadro:hover {
		background-color: #fff;
		color: #1C4183;
	}
	
	.topofixo {
		position: relative;
	}
	
	.owl-pagination {
		display: none;
	}
	
	.title-breadcrumb h1 {
		box-sizing: border-box;
		padding: 5px;
	}
	
	.title-breadcrumb #breadcrumb {
		float: none;
	}
	
	header .topo .social {
		display: none;
	}
	
	.wrapper {
		box-sizing: border-box;
		padding: 10px 30px!important;
	}
	
	header {}
	
	header .logo a {
		margin: 0 auto;
	}
	
	header .logo {
		width: 100%;
		display: block;
		text-align: center;
	}
	
	header .logo img {
		margin-top: 20px;
		max-width: 100%;
	}
	
	header .right {
		width: 100%;
		text-align: center;
	}
	
	.topo .fright {
		float: none;
	}
	
	.topo {
		text-align: center;
	}
	
	article {
		width: 100%;
		display: flex;
		flex-direction:  column;
	}
	
	aside {
		width: 100%;
		margin: 0;
	}
	
	.gallery {
        max-width: 425px;
        width: 100%;
        height: auto;
        margin: 10px 5px;
        display:  flex;
        justify-content:  center;
        flex-wrap: wrap;
 }
	
	.gallery img {
		margin: 10px 5px;
		width: 100%;
	}
	
	.gallery li {
		margin: 10px 0px;
	}
	
	.thumbnails li {
		width: 100%;
		margin: 50px 50px;
	}
	
	.thumbnails {
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
	}
	
	.thumbnails img {
		width: 100%;
	}
	
	footer .wrapper {
		text-align: center !important
	}

	.copyright-footer {
		text-align: center
	}
	
	footer .menu-footer nav li {
		display: block;
		background: rgba(0, 0, 0, 0.2);
		margin: 10px 0px;
		text-align: center;
		padding: 10px 20px;
	}
	
	.contact-footer {
		float: none
	}
	
	.copyright-footer .wrapper {
		text-align: center padding
	}
	
	footer .social {
		float: none;
		width: 100%
	}
	
	.copyright-footer .selos {
		float: none;
	}
	
	.copyright-footer .selos a {
		float: none;
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, 0.2);
		padding: 10px 0px;
		margin: 10px 30px;
	}
	
	footer .social .social-icons {
		float: none;
		padding: 10px 0px;
		margin: 10px 0px;
		width: 100%;
		text-align: center
	}
	
	.contact-footer a {
		color: white;
		text-decoration: none;
	}
	
	.contact-footer {
		margin-right: 0;
	}
	
	.js #menu {
		display: none;
	}
	
	.js #menu2 {
		display: none;
	}
	
	.js .slicknav_menu {
		display: block;
	}
	
	#servicosTabsDois .nav li a {
		padding: 8px;
		font-size: 13px;
		width: 100%;
	}
	
	.hide-mobile {
		display: none;
	}
	
	.contact {
		padding: 0;
	}
	
	.form {
		width: 100%;
	}
	
	.contact-form {
		float: none;
		width: 100%;
	}
	
	#header-block {
		display: none !important;
	}
}

}
@media only screen and (max-width:480px) {
	.col-2 {
		display: none;
	}
	.col-1 {
		display: none;
	}
	[class*="col-"] {
		width: 100%;
	}
	#slide-show {
		height: 880px !important;
	}
	.form-style-5 {
		margin-top: 55px;
	}
	.form-style-5 h2 {
		margin: 0!important;
	}
	.btn-quadro-menu {
		width: 50px !important;
		height: 55px;
	}
	.btn-quadro-menu:hover {
		background-color: #fff;
		color: #2172b3;
	}
	.article {
display:block;}
}
.gallery{
        /* padding-left: 20px; */
        /* max-width:  100%; */
}
.wrapper-main-dg {padding-bottom: 55px;display:  flex;justify-content:  center;align-items:  center;}.gallery {/* padding-left: 55px; */}
.slicknav_btn {
	position:relative;
	display:block;
	vertical-align:middle;
	float:right;
	padding:0.438em 0.625em 0.438em 0.625em;
	line-height:1.125em;
	cursor:pointer;
}
.slicknav_menu .slicknav_menutxt {
	display:block;
	line-height:1.188em;
	float:left;
}
.slicknav_menu .slicknav_icon {
	float:left;
	margin:0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin:0
}
.slicknav_menu .slicknav_icon-bar {
	display:block;
	width:1.125em;
	height:0.125em;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-moz-box-shadow:0 1px 0 rgba(0,
	0,
	0,
	0.25);
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
	margin-top:0.188em
}
.slicknav_nav {
	clear:both
}
.slicknav_nav ul,
.slicknav_nav li {
	display:block
}
.slicknav_nav .slicknav_arrow {
	font-size:0.8em;
	margin:0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	cursor:pointer;
}
.slicknav_nav .slicknav_row {
	display:block;
}
.slicknav_nav a {
	display:block
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display:inline
}
.slicknav_menu:before,
.slicknav_menu:after {
	content:" ";
	display:table;
}
.slicknav_menu:after {
	clear:both
}
.slicknav_menu {
	font-size:16px;
}
.slicknav_btn {
	margin:5px 5px 6px;
	text-decoration:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#ffffff;
}
.slicknav_menu .slicknav_menutxt {
	color:#e67e22;
	font-weight:bold;
}
.slicknav_menu .slicknav_icon-bar {
	background-color:#e67e22;
}
.slicknav_menu {
	background:#e67e22;
	padding:5px;
}
.slicknav_nav {
	color:#fff;
	margin:0;
	padding:0;
	font-size:0.875em;
}
.slicknav_nav,
.slicknav_nav ul {
	list-style:none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav a {
	padding:5px 10px;
	margin:2px 5px;
	text-decoration:none;
	color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_row:hover {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background:#bf5a008f;
	color:#fff;
}
.slicknav_nav a:hover {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	color:#fff;
}
.slicknav_nav .slicknav_txtnode {
	margin-left:15px;
}

}
.conheca-bloco li:hover {
	opacity:.8;
}
.bg-blue {
	background-color:#2172b3;
}
.wrapper-intro {
	height:100vh;
}

}
.just {
	text-align:justify!important;
}


